@model ChatUni9.Models.UserViewModel
<input type="hidden" value="@Model.ID" id="id-contact-opend" />
<div class="chat-header clearfix">
    <div class="row">
        <div class="col-lg-6">
            <div style="width:50px; float:left">
                <avatar-initials initials="@Model.Nome.Substring(0, 1)@Model.Sobrenome.Substring(0, 1)"
                                 auto-color="true"
                                 text-scale="1.2"
                                 text-weight="300"
                                 rounded
                                 text-color="white"
                                 size="45"
                                 border="1">
                </avatar-initials>
            </div>
            <div class="chat-about">
                <h6 class="m-b-0">@Model.Nome @Model.Sobrenome</h6>
                @if (ViewBag.OnlineUsers.Contains(Model.ID.ToString()))
                {
                    <small>online</small>
                }
                else
                {
                    <small>visto pela última vez em @Model.LastSeen.ToString("dd/MM/yyyy") às @Model.LastSeen.ToString("HH:mm")</small>
                }
            </div>
        </div>
    </div>
</div>
<div class="chat-history" id="talk">
    <ul class="m-b-0 chat-list-messages" style="overflow-y: scroll; max-height:500px">

        @foreach (var message in Model.Talk)
        {
            @if (message.IDUserIssuer == ViewBag.LoggedInUserID)
            {
                <li class="clearfix">
                    <div class="message-data text-right">
                        <span class="message-data-time">@message.DateTime.ToString("HH:mm - dd/MM/yyyy")</span>
                    </div>
                    <div class="message other-message float-right">@message.Message</div>
                </li>
            }
            else
            {
                <li class="clearfix">
                    <div class="message-data">
                        <span class="message-data-time">@message.DateTime</span>
                    </div>
                    <div class="message my-message">@message.Message</div>
                </li>
            }
        }
    </ul>
    <div class="chat-message clearfix">
        <div class="input-group mb-0">
            <input type="text" class="form-control" id="txt-menssage" placeholder="Digite uma mensagem...">
            <div class="input-group-prepend">
                <a href="#" class="btn btn-outline-info form-control" data-iduserreceiver="@Model.ID" id="send">
                    <i class="fa fa-send" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>